@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
	--color-white: hsl(0,0%,95%);
	--color-light: hsl(0,0%,85%);
	--color-light-gray: hsl(0,0%,75%);
	--color-gray: hsl(0,0%,50%);
	--color-dark-gray: hsl(0,0%,25%);
	--color-dark: hsl(0,0%,15%);
	--color-black: hsl(0,0%,5%);

	--max-square-size: 65px;

	--mobile-nav-max-width: 600px;
}

body {
	color: var(--color-white);
	background-color: var(--color-black);

	padding: 0;
	margin: 0;
	padding-top: 80px;
	overflow-x: hidden;

	font-family: 'Kanit';
}
